<div class="col-md-4">
    {% for key,value in request.session.cart.items %}

<a href="{% url 'frontend:cart_clear' %}" class="btn btn-danger"><i class="fa fa-trash"></i>Delete all your cart</a><br><br>

<div class="col-md-6">

product name:{{value.name}}<br> price:<a href="#">${{value.price}}</a><br> quantity:{{value.quantity}}<br> <img src="{{value.image}}" alt="img" width="200px" height="200px"><br> Total price: <a href="#">${{ value.price|multiply:value.quantity }}</a>
<br>
<a href="{% url 'frontend:item_clear' value.product_id %}" class="btn btn-danger"><i class="fa fa-trash"></i>Delete this item</a><br><br>
<a href="{% url 'frontend:item_increment' value.product_id %}" class="btn btn-primary">+Increment</a><br><br>
<a href="{% url 'frontend:item_decrement' value.product_id %}" class="btn btn-primary">-Decrement</a><br><br><br>


<a href="{% url 'home' %}" class="btn btn-success">Continue Shopping</a>     


</div>

{% endfor %}
