{% extends "frontend/base.html" %}

{% block content %}
    
{% if messages %}
{% for mes in messages %}
<div class="alert alert-success">{{mes}}</div>
{% endfor %}
{% endif %}
    <div class="content-section">
        <h2>Password Reset Confirm</h2><hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-outline-info" type="submit">Reset password</button>
        </form>
    </div>
{% endblock %}