<!-- django_project/users/templates/register.html -->
{% extends "frontend/base.html" %}

{% load static %}

{% block title %}
    register
{% endblock %}

    
{% block content %}

        
            {% if messages %}
            {% for mes in messages %}
                <div class="alert alert-success">{{mes}}</div>
            {% endfor %}
        {% endif %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <table class="table table-bordered">
                    {{ form.as_table }}
                </table>
            </fieldset>

            By registering, you accept the Terms of Service and Privacy Notice

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'frontend:custom_login' %}">Sign In</a>
            </small>
        </div>
    </div>
        
{% endblock %}
