<!-- django_project/users/templates/register.html -->
{% extends "frontend/base.html" %}

{% load static %}

{% block title %}
    View Video
{% endblock %}

{% block content %}


<center>
    <div class="container">
        <div class="row">
            
            <div class="col-md-4">
            <p>
               Title : <a href="">{{post.title}}</a><br>
                Created By: <a href="">{{post.created_by}}</a>
            </p>
            <video src="{{post.video_upload.url}}" controls></video><br><br>
            <p>{{video_views}} View</p>
            Posted on: {{post.created_at}}

            
            </div>
            

        </div>

    </div>
</center>
{% endblock %}
